<!DOCTYPE HTML>
 
<html>
<head>
	  <title>Taskr - A task tacker app!</title>
	  <meta charset="utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1" />
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <script src="/js/postrequest.js"></script>
      <script src="/js/getrequest.js"></script>
</head>
<body>
 
<div class="container">
 
	<h3 style="color:grey">CREATE NEW TASKS</h3>
	
	<div class="row col-md-6">
		<form id="taskForm">
			<div class="form-group">
				<label for="taskname">Task name:</label>
				<input type="text" class="form-control" id="taskname" placeholder="Enter Name"/>
			</div>

			<div class="form-group">
				<label for="taskdescription">Task description:</label>
				<input type="text" class="form-control" id="taskdescription" placeholder="Enter Name"/>
			</div>

			<div class="form-group">
				<label for="tasknotes">Task notes:</label>
				<input type="text" class="form-control" id="tasknotes" placeholder="Enter Name"/>
			</div>


			<div class="form-group">
				<label for="taskStatus">Task status:</label>
				<select class="form-control" id="taskstatus">
					<option>New</option>
					<option>Working</option>
					<option>Complete</option>
				</select>
			</div>


			<button style="margin-bottom:10px" type="submit" class="btn btn-default">Add Task</button>
		</form>
		
		<!-- Table of Adding Customer -->
		<table id="taskTable" class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Task Name</th>
					<th>Task Description</th>
					<th>Task Notes</th>
					<th>Task Priority</th>
					<th>Task Status</th>
					<th>Task creation date</th>
					<th>Task completion date</th>
					<th>Task changed date</th>
					<th>Task completed date</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		
		<!-- DIV Submit customer  -->
		<!-- SUBMIT Customer Button to Server -->
		<button id="postTaskBtn" style="margin-bottom:10px" type="submit" class="btn btn-default">Post Tasks</button>
		
		<!-- Message result from server -->
		<div id="postResultDiv" style="margin:10px 0px 10px 0px;">
		</div>
		
		
		<!-- Get All Customers from back-end -->		
		<button id="getAllTaskBtnId" type="button" class="btn btn-primary" style="margin:10px 0px 10px 0px;">Get All Tasks</button>
		<div id="resultGetAllTaskDiv">
	        <ul class="list-group">
	    	</ul>
    	</div>
	</div>
</div>
</body>
</html>