<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Tasks</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"/>


</head>
<body>


<div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            </button>
            <a class="navbar-brand" href="/">Taskr</a>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/task/list" class="nav-link">Task Operations</a></li>
                    <li class="nav-item"><a href="/user/list" class="nav-link">User Operations</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right mr-auto">
                    <li class="nav-item"><a href="/user/signup" id="registerLink" class="nav-link">Register</a></li>
                    <li class="nav-item"><a href="/" id="loginLink" class="nav-link">Log in</a></li>
                </ul>

            </div>
        </div>
    </nav>
    <h2>Task List</h2>
    <table class="table table-striped">
        <tr>

            <th>Task Name</th>
            <th>Description</th>
            <th>Created Date</th>
            <th>Assigned To</th>
            <th>List</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <div th:if="${not #lists.isEmpty(tasks)}">

            <tr th:each="task : ${tasks}">

                <td th:text="${task.taskName.toString()}"></td>
                <td th:text="${task.taskDescription.toString()}"></td>
                <td th:text="${task.getTaskCreatedDateFormat()}"></td>
                <td th:text="${task.taskAssignedTo.toString()}"></td>

                <td><a th:href="${'/task/show/id/' + task.taskId.toHexString()}">View</a></td>
                <td><a th:href="${'/task/edit/' + task.taskId.toHexString()}">Edit</a></td>
                <td><a th:href="${'/task/delete/' + task.taskId.toHexString()}">Delete</a></td>
            </tr>

        </div>
    </table>

    <div class="row">
        <div class="col-sm-3">
            <a href="/task/new" class="btn btn-outline-secondary" type="button">New Task</a>
        </div>
        <div class="input-group mb-5">
            <input type="text" class="form-control" id="inputSelect01" placeholder="First Name"
                   aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button onclick="myFunction()" class="btn btn-outline-secondary" type="button">Button</button>
            </div>
        </div>
    </div>

</div>

<script>
    function myFunction(){
    var inputValue = $('#inputSelect01').val();
    window.location.href = "/task/show/name/"+inputValue;
    }

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

</body>
</html>