<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Taskr - A task tacker app!</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

</head>
<body>


<div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            </button>
            <a class="navbar-brand" href="/">Taskr</a>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/task/list" class="nav-link">Task Operations</a></li>
                    <li class="nav-item"><a href="/user/list" class="nav-link">User Operations</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right mr-auto">
                    <li class="nav-item"><a href="/user/signup" id="registerLink" class="nav-link">Register</a></li>
                    <li class="nav-item"><a href="/" id="loginLink" class="nav-link">Log in</a></li>
                </ul>

            </div>
        </div>
    </nav>
    <h2>Task Details</h2>
    <div>
        <form class="form-horizontal" th:object="${taskForm}" th:action="@{/task}" method="post">

            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <p th:text="#{form.hasErrors}">Error Message</p>
            </div>

            <input type="hidden" th:field="*{taskId}"/>

            <div class="form-group" th:class="${#fields.hasErrors('taskName')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{taskName}" th:errorclass="has-error"/>
                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('taskName')}" th:text="${err}"/>
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group"
                 th:class="${#fields.hasErrors('taskDescription')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <input type="text" cols="40" rows="5" class="form-control" th:field="*{taskDescription}"
                           th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('taskDescription')}" th:text="${err}"/>
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group"
                 th:class="${#fields.hasErrors('taskNotes')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Notes:</label>
                <div class="col-sm-10">
                    <input type="text" cols="40" rows="5" class="form-control" th:field="*{taskNotes}"
                           th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('taskNotes')}" th:text="${err}"/>
                       </ul>
                    </span>
                </div>
            </div>


            <div class="form-group"
                 th:class="${#fields.hasErrors('taskPriority')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Priority:</label>
                <div class="col-sm-10">
                    <input type="text" cols="40" rows="5" class="form-control" th:field="*{taskPriority}"
                           th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('taskPriority')}" th:text="${err}"/>
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group"
                 th:class="${#fields.hasErrors('taskCreatedDate')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Task created date:</label>
                <div class="col-sm-10">
                    <div class='input-group date' id='datetimepicker9'>
                        <input type='text' th:field="*{taskCreatedDate}"
                               th:errorclass="has-error" class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <span class="help-block">
                           <ul>
                               <li th:each="err : ${#fields.errors('taskCreatedDate')}" th:text="${err}"/>
                           </ul>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group"
                 th:class="${#fields.hasErrors('taskCompletedDate')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Task completed date:</label>
                <div class="col-sm-10">
                    <div class='input-group date' id='datetimepicker10'>
                        <input type='text' th:field="*{taskCompletedDate}"
                               th:errorclass="has-error" class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <span class="help-block">
                           <ul>
                               <li th:each="err : ${#fields.errors('taskCompletedDate')}" th:text="${err}"/>
                           </ul>
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group"
                 th:class="${#fields.hasErrors('taskCompletedDate')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Task completed date:</label>
                <div class="col-sm-10">
                    <div class='input-group date' id='datetimepicker11'>
                        <input type='text' th:field="*{taskCompletedDate}"
                               th:errorclass="has-error" class="form-control"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <span class="help-block">
                           <ul>
                               <li th:each="err : ${#fields.errors('taskCompletedDate')}" th:text="${err}"/>
                           </ul>
                        </span>
                    </div>
                </div>
            </div>


            <div class="form-group"
                 th:class="${#fields.hasErrors('taskStatus')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Status:</label>
                <div class="col-sm-10">
                    <input type="text" cols="40" rows="5" class="form-control" th:field="*{taskStatus}"
                           th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('taskStatus')}" th:text="${err}"/>
                       </ul>
                    </span>
                </div>
            </div>


            <div class="form-group"
                 th:class="${#fields.hasErrors('taskCreatedBy')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Created By:</label>
                <div class="col-sm-10">
                    <input type="text" cols="40" rows="5" class="form-control" th:field="*{taskCreatedBy}"
                           th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('taskCreatedBy')}" th:text="${err}"/>
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group"
                 th:class="${#fields.hasErrors('taskAssignedTo')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Assigned To:</label>
                <div class="col-sm-10">
                    <input type="text" cols="40" rows="5" class="form-control" th:field="*{taskAssignedTo}"
                           th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('taskAssignedTo')}" th:text="${err}"/>
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group"
                 th:class="${#fields.hasErrors('completed')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Completed:</label>
                <div class="col-sm-10">
                    <input type="text" cols="40" rows="5" class="form-control" th:field="*{completed}"
                           th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('completed')}" th:text="${err}"/>
                       </ul>
                    </span>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary btn-lg btn-block">submit</button>
                <a href="/task/list" class="btn btn-primary btn-lg btn-block">Task List</a>
                <!--<div class="col-sm-3">-->
                <!--<a href="/task/list" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Task List</a>-->
                <!--</div>-->
            </div>


        </form>

    </div>
</div>
<script type="text/javascript">
      $(document).ready(function(){
           $(function () {
                $('#datetimepicker9').datetimepicker();
                $('#datetimepicker10').datetimepicker();
                $('#datetimepicker11').datetimepicker();

           });
      });
</script>

</body>
</html>