<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasks</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(tasks)}">
        <h2>Task List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Completion Date</th>
                <th>Assigned To</th>
                <th>List</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.taskId.toHexString()}"></td>
                <td th:text="${task.taskName.toString()}"></td>
                <td th:text="${task.taskDescription.toString()}"></td>
                <td th:text="${task.taskCompletionDate.toString()}"></td>
                <td th:text="${task.taskAssignedTo.toString()}"></td>

                <td><a th:href="${'/task/show/' + task.taskId.toHexString()}">View</a> </td>
                <td><a th:href="${'/task/edit/' + task.taskId.toHexString()}">Edit</a> </td>
                <td><a th:href="${'/task/delete/' + task.taskId.toHexString()}">Delete</a> </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="/task/new">New Task</a>
        </div>
    </div>
</div>

</body>
</html>